* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  background-color: #a431b7;
  top: 0;
}
header nav ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
}
strong {
  color: yellow;
}

html {
  background-color: #ed85cf;
}
h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: rgb(245, 245, 169);
}
h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
}
h3 {
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
  font-size: 1.1rem;
}
p,
address {
  font-family: "Arvo", serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.logo {
  display: grid;
  place-content: center;
}
hr {
  border: 2px solid rgba(245, 245, 169, 0.473);
  margin: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;
  text-align: center;
  opacity: 0.5;
  padding: 20px;
}
footer .mail {
  grid-column: 1/2;
  grid-row: 1/2;
}
footer .kmail {
  grid-column: 2/3;
  grid-row: 1/2;
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}
footer .telefon {
  grid-column: 3/4;
  grid-row: 1/2;
}
footer p {
  font-size: 0.5rem;
}

a {
  color: rgb(108, 26, 150);
}
a:hover {
  color: yellow;
}
button {
  background-color: transparent;
  border-color: transparent;
  font-family: "Orbitron", sans-serif;
  color: rgb(108, 26, 150);
  margin-top: 10px;
}
button:hover {
  color: yellow;
}
@media (min-width: 800px) {
  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
  }
  h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: lighter;
  }
  header nav ul {
    font-size: 1.3rem;
  }
  .logo {
    max-width: 100%;
  }
  p {
    font-size: 1rem;
  }
  footer p {
    font-size: 1rem;
  }
}
