* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header {
  background-color: #a431b7;
  top: 0;
}
header nav ul {
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  gap: 20px;
  font-size: 0.8rem;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
}
html {
  background-color: #ed85cf;
}
h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}
h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
}
@media (min-width: 800px) {
  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
  }
  h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: lighter;
  }
}
